<div class="">
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile class="flex-left" colspan="2">
            <div class="header">
                <h1>Adhérents</h1>
            </div>
        </mat-grid-tile>

        <mat-grid-tile class="flex-right" colspan="2">
            <button mat-raised-button color="warn" (click)="create()">
                <mat-icon>add</mat-icon>Créer Adhérent
            </button>

  
                <mat-form-field class="" dividerColor="primary">
                    <mat-select placeholder="Type fichier">
                        <mat-option value="tresorier">
                            Trésorier
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            <button mat-icon-button (click)="excelFileInput.click()">
                <mat-icon aria-label="File">file_upload</mat-icon>
                <input hidden id="file_input_file" #excelFileInput (change)="fileChange($event)" type="file" />
                </button>
                
        </mat-grid-tile>

    </mat-grid-list>
    <m-member-page-list [displayedColumns]="displayedColumns"></m-member-page-list>


</div>