<mat-table class="lessons-table mat-elevation-z8" [dataSource]="datasource">

    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let mailinglist">
            <a [routerLink]="['/mailing/mailinglist', mailinglist._id]">>{{mailinglist.address}}</a>
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let mailinglist">
            {{mailinglist.name}}
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let mailinglist">
            {{mailinglist.description}}
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="access_level">
        <mat-header-cell *matHeaderCellDef>Niveau</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let mailinglist">
            {{mailinglist.access_level}}
        </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-content></ng-content>