<mat-table class="lessons-table mat-elevation-z8" [dataSource]="datasource">
    
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null" [checked]="selection.isSelected(row.address)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let member">
            <a [routerLink]="['/mailing/mailinglist', member.mailinglistid, 'member', member.address]">{{member.address}}</a>
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let member">
            {{member.name}}
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="subscribed">
        <mat-header-cell *matHeaderCellDef>Souscription</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let member">
            {{member.subscribed}}
        </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-content></ng-content>