<mat-table class="lessons-table mat-elevation-z8" [dataSource]="datasource">

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionToggle(row) : null" [checked]="selection.isSelected(row._id)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let attendance">
            <a [routerLink]="['/attendance', attendance._id]">{{attendance._id}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let attendance">
            {{attendance.date}}
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="class">
        <mat-header-cell *matHeaderCellDef>Activité</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let attendance">
            {{member.class}}
        </mat-cell>

    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-content></ng-content>
<!--
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>-->