<div class="content-text-styling">

  <div *ngIf="mail">

    <div class="content-text-styling">
      <div class="cdb-list-separator">
        <div class="header">
          <h1>e-mail {{mail.subject}}</h1>
          <!--<button mat-raised-button color="warn" (click)="delete()">Supprimer</button>-->
        </div>
      </div>

      <div>
        <label>id: </label>{{mail._id}}
      </div>

      <form role="form" [formGroup]="form">
        <div class="cdb-list-separator" formArrayName="to">
          <mat-list role="list" *ngIf="to && to.controls">
            <mat-list-item role="listitem" *ngFor="let address of to.controls; let i=index">
              <mat-form-field class="cdb-input-full-width" dividerColor="primary" [formGroupName]="i">
                <input matInput formControlName="address" placeholder="address" name="address">
              </mat-form-field>
            </mat-list-item>
          </mat-list>

        </div>
        <div class="cdb-list-separator" formArrayName="from">
          <mat-list role="list" *ngIf="from && from.controls">
            <mat-list-item role="listitem" *ngFor="let address of from.controls">
              <mat-form-field class="cdb-input-full-width" dividerColor="primary" [formGroupName]="i">
                <input matInput formControlName="address" placeholder="address" name="address">
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        </div>

      </form>
      <div class="cdb-list-separator">
        <span [innerHTML]="mail.html"></span>
      </div>

      <div class="cdb-list-separator">
        <button mat-button (click)="goBack()">Retour</button>
        <button mat-button (click)="save()">Save</button>
      </div>

    </div>
  </div>
</div>