<angular-loader></angular-loader>
<!--<header class="nav-transparent mdl-layout__header mdl-layout__header--transparent">
	<div class="mdl-layout__header-row">
		
		<span class="mdl-layout-title">{{title}}</span>
	
		<div class="mdl-layout-spacer"></div>

		<nav class="mdl-navigation">
			<a routerLink="/dashboard" class="mdl-navigation__link" routerLinkActive="active">Tableau de bord</a>
			<a routerLink="/profile" class="mdl-navigation__link" routerLinkActive="active" *ngIf="auth.loggedIn">Profile</a>
			<a routerLink="/setup" class="mdl-navigation__link" routerLinkActive="active" *ngIf="auth.loggedIn">Administration</a>
			<a class="mdl-navigation__link" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</a>
			<a class="mdl-navigation__link" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
		</nav>
	</div>



</header>-->
<mat-toolbar class="cdb-toolbar" color="primary">
	<mat-toolbar-row class="cdb-toolbar-row">
		<div class="cdb-inner">
			<span class="cdb-display1">CDB Gestion</span>

			<span class="example-spacer"></span>
			<!--<mat-icon>home</mat-icon>-->
			<nav class="">
				<a routerLink="/dashboard" class="" routerLinkActive="active">Tableau de bord</a>
				<a routerLink="/members" class="" routerLinkActive="active" *ngIf="isAdmin$ | async">Adhérents</a>
				<a routerLink="/mails" class="" routerLinkActive="active" *ngIf="isAdmin$ | async">Mails</a>
				<a routerLink="/comptabilite" class="" routerLinkActive="active" *ngIf="isAdmin$ | async">Comptabilite</a>
				<a routerLink="/profile" class="" routerLinkActive="active" *ngIf="isAdmin$ | async">Profile</a>
				<a routerLink="/setup" class="" routerLinkActive="active" *ngIf="isAdmin$ | async">Administration</a>

				<a href="" class="" (click)="logout()" *ngIf="loggedIn$ | async; else reflogin">
					<mat-icon>arrow_forward</mat-icon>
					Log Out {{ (this.user$ | async)?.name }}</a>

				<ng-template #reflogin>
					<a class="" (click)="login()">Log In</a>
				</ng-template>
			</nav>
		</div>
	</mat-toolbar-row>
</mat-toolbar>


<!--
<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">{{title}}</span>
	<nav class="mdl-navigation">
		<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
		<a routerLink="/competitors" routerLinkActive="active">Compétiteurs</a>
		<a routerLink="/profile" routerLinkActive="active" *ngIf="auth.loggedIn">Profile</a>
	</nav>
</div>
-->

<main>
	<router-outlet></router-outlet>
</main>