<div class="profil-text-styling">
	<div class="header">
		<h1>Administration</h1>
	</div>
	<!--<div class="heading">
		<h2>Obligatoire</h2>
	</div>-->


	<div class="cdb-list-separator col">
<!--
		<mat-card>

			<mat-card-title>Civilités <button mat-button (click)="addRow()">AJOUTER</button><button mat-button>SUPPRIMER</button></mat-card-title>
			<mat-card-content>
				<mat-list class="admin-list">
					<mat-list-item class="item-container list-header">
						<div class="list-item checkmark">
							<mat-checkbox #selectAll>
							</mat-checkbox>
						</div>
						<div class="list-item text">
							Civilité
						</div>
					</mat-list-item>
					<mat-list-item *ngFor="let title of titles" class="item-container list-body" >
						<cdb-item>
							<div class="list-item checkmark">
								<mat-checkbox [(ngModel)]="title.selected">
								</mat-checkbox>
							</div>
							<div class="list-item text">
								{{title.title}}
							</div>
						</cdb-item>
					</mat-list-item>
				</mat-list>-->

				<!--
				<table class="md-api-table">
					<thead>
						<tr>
							<th>
								<md-checkbox>tstestsetestest
								</md-checkbox>
							</th>
							<th>Civilité</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let title of titles">
							<td>
								<div>
									<md-checkbox [(ngModel)]="title.selected">

									</md-checkbox>
								</div>
							</td>
							<td>{{title.title}}</td>
						</tr>
					</tbody>
				</table>-->
		<!--	</mat-card-content>
		</mat-card>-->

	</div>

</div>