/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');


body {
    margin: 0px;
    font:500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.cdb-toolbar {
    background: rgba(255,255,255,.97)!important;
    color: rgba(0,0,0,.54)!important;
    font-size: 16px;
    position: fixed!important;
    top: 0;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    z-index:900;
}

.cdb-toolbar a {
    color: rgba(0,0,0,0.86);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
}

.cdb-toolbar a mat-icon {
    opacity: .6;
    transition: opacity .2s ease-in-out;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    width: 13px;
}

.cdb-toolbar a:hover mat-icon,
.cdb-toolbar a:focus mat-icon{
    opacity: 1;
}

.cdb-inner {
    max-width: 1000px;
    display: flex;
    margin-left: auto!important;
    margin-right: auto!important;
    align-items: center!important;
    justify-content: center;
    height: 65px;
}


.example-spacer {
    flex: 1 1 auto;
}

.cdb-toolbar-row {
    justify-content: center;
    display: table!important;
}





.content-text-styling h1 {
    /*padding-top: 40px;
    padding-bottom: 40px;*/
    height: auto;
   /* margin-bottom: 8px;*/
    font-family: Roboto;
    font-weight: normal;
    padding:0px;
    margin: 0px;
}

.content-text-styling .heading {
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 30px;
}

.content-text-styling h2 {
    font-size: 16px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-transform: none;
    margin-top:5px;
    margin-bottom:0px;
}

.content-text-styling {
    margin: 0 auto;
    max-width: 1000px;
    padding-top:50px;
}

.mat-button-wrapper {
    text-transform: uppercase;
    font-weight: normal;
}



.mat-button-wrapper .mat-icon {
    height: 23px;
    width: 20px;
}
.mat-button-wrapper .material-icons {
    font-family: 'Material Icons';
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}


.flex-left .mat-figure {
    justify-content: flex-start !important;
}

.flex-right .mat-figure {
    justify-content: flex-end !important;
}
