<div class="content-text-styling">
	<mat-grid-list cols="2" rowHeight="100px">

		<mat-grid-tile class="flex-left">
			<div class="header">
				<h1>Adhérents</h1>
			</div>
		</mat-grid-tile>

		<mat-grid-tile class="flex-right">
			<button mat-raised-button color="warn" (click)="openDialog()">
				<mat-icon>add</mat-icon>Créer adhérent</button>
				<button mat-icon-button (click)="excelFileInput.click()">
					<mat-icon aria-label="File">file_upload</mat-icon>
					<input hidden id="file_input_file" #excelFileInput (change)="fileChange($event)" type="file" />
					</button>
					
					<button mat-raised-button color="primary" (click)="ajouterListe()">
							Ajouter à la liste
						</button>
		</mat-grid-tile>
	</mat-grid-list>





	<!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
		<mat-spinner></mat-spinner>
	</div>-->

	<form class="js-users-search advanced-search-control">
		<span class="search-area">
		  <i class="icon-budicon-489"></i>
		  <input class="js-user-input user-input" type="text" placeholder="Recherche" spellcheck="false" #search>
		</span>
  
		<span class="controls pull-right">
  
		  
		  <div class="js-select custom-select">
			<span>Recherche </span><span class="truncate" data-select-value="">Utilisateur</span> <i class="icon-budicon-460"></i>
			<select data-mode="">
			  <option value="name" selected="selected">Nom</option>
			  <option value="email">Email</option>

			</select>
		  </div>
		  
  
		  <button type="reset">Reset <i class="icon-budicon-471"></i></button>
		</span>
	  </form>

	<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

			<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(row._id) : null"
													[checked]="selection.isSelected(row._id)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

		<ng-container matColumnDef="seqNo">
			<mat-header-cell *matHeaderCellDef>#</mat-header-cell>
			<mat-cell *matCellDef="let member">
				<a (click)="gotoDetail(member)">{{member._id}}</a>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Nom">
			<mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
			<mat-cell class="description-cell" *matCellDef="let member">
				{{member.name}}
			</mat-cell>

		</ng-container>

		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef>email</mat-header-cell>
			<mat-cell class="description-cell" *matCellDef="let member">
				{{member.email}}
			</mat-cell>

		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
	</mat-table>

	<!--
	<div class="spinner-container" *ngIf="dataSource.loading$ | async">
		<mat-spinner></mat-spinner>
	</div>
-->
	<mat-paginator [length]="membersCount" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>

</div>